<%- include('_head.ejs') %>

<div class="jumbotron">
  <h2 class="bg-primary index-head"><img src='images/node-icon.svg' height='90px' /> Node.js Demo App</h2>
  <hr />
  <p class="lead">
    This is a simple Node.js web app using the Express framework and EJS templates. It has been designed with cloud
    demos & containers in mind. Demonstrating capabilities such as auto scaling, deployment to Azure or Kubernetes, or anytime you want 
    something quick and lightweight to run & deploy 😄<br/><br/>Basic features:
    <ul>
        <li>System status / information view</li>
        <li>App Insights support</li>
        <li>Geolocated weather info (from DarkSky API)</li>
        <li>Tools for triggering errors and high CPU load</li>
        <li>Mini todo app using MongoDB data store</li>
        <li>Support for user authentication with Azure AD</li>
      </ul> 
  </p>
  <br />

  <p>
    <img src='images/DA-Logo-1.png' width='58px' /> &nbsp;
    <a target='_blank' href='https://digitalavenue.dev/' class="btn btn-info btn-lg">My WebSite</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <img src='images/octocat.png' width='58px' /> &nbsp;
    <a target='_blank' href='https://github.com/dimuit86' class="btn btn-info btn-lg">Github Profile</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <img src='images/youtube.png' width='58px' /> &nbsp;
    <a target='_blank' href='https://www.youtube.com/channel/UCovlVsoRVItner26ZJPBjmQ' class="btn btn-info btn-lg">YouTube Channel</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <img src='images/linkedin.png' width='58px' /> &nbsp;
    <a target='_blank' href='https://www.linkedin.com/in/dimuthu-daundasekara' class="btn btn-info btn-lg">LinkedIn Profile</a>

  </p>


  <hr style="background-color: #777" />

  <br />
  <p>Microsoft <i class="fa fa-heart"></i> Open Source</p>
</div>

<%- include('_foot.ejs') %>